/* CSS for the Pokedex heading and form */
body {
  font-family:'Open Sans', Arial;
}
h2 {
  font-size:16px;
}
h3 {
  font-size:12px;
}
div#headerSection {
  text-align:center;
}
div#results {
  /*  don't change anything here. Just copy and paste */
  max-width:1200px;
  margin:0 auto;
  margin-top:20px;
}

button {
  height:42px;
  padding-left:20px;
  padding-right:20px;
}

.card {
  border: 1px solid #999999;
  float: left;
  width: 350px;
  height: 580px;
  padding-left:10px;
  margin-right:20px;
  margin-bottom:20px;
  box-shadow: 5px 5px 13px 0px rgba(127, 102, 132, 0.68);
}

/* Clear floats after the columns */
.card:after {
  content: "";
  display: table;
  clear: both;
}


img.poster {
  margin-left:0px;
}



a.favoriteLink {
  margin-right:20px;
}



